.tag {
    margin-right: 8px;
    padding: 4px 8px;
    
  
    &.react {
      background-color: #61dafb;
    }
  
    &.javascript {
      background-color: #f7df1e;
    }
  
    &.react-router {
      background-color: #e34f26;
    }
  
    &.seo {
      background-color: #1572b6;
    }
  
    &.api_rest {
      background-color: #5ca559;
    }
  
    &.sass {
      background-color: #cf649a;
    }

    &.redux {
      background-color: #3cbb91;
    }
    &.referencement{
      background-color: #14e279;
    }

    &.dark-mode-tag {
      background-color: #d7b986; 
    
    }
  
  }
