.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    height: 80px;

    @media (max-width: 570px) {
        height: 50px;
      }
}

.socials {
    display: flex;
    padding-right: 33px;
    gap:28px ;
}

