.text {
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-wrap: wrap;
  
    @media (max-width: 480px) {
      font-size: 20px; 
      line-height: 1.5; 
    }
  }
  
  .background {
    background-image: url("https://res.cloudinary.com/dns52ztb6/image/upload/v1730743950/andy-holmes-rCbdp8VCYhQ-unsplash_zkfuff.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    height: 500px;
  
    @media (max-width: 480px) {
      height: auto; 
      padding: 20px; 
    }
    @media (min-width: 480px) {
        height: auto; 
        padding: 20px; 
      }
  }
  
  .glass {
    color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    width: 50%;
    max-width: 90%; 
  
    @media (max-width: 480px) {
      padding: 15px; 
      width: 100%; 
    }
  }
  